.pageContainer{
  top:50%;
  left:50%;
  position: absolute;
  transform: translate(-50%,-50%)
}

.contentHolder{
  width: 1000px;
  height: 650px;

}

.flexHolder{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.textHolder{
  width: 350px;
  margin: 40px;
  box-sizing: border-box;
}

.headerText{
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
}

.text1{
  font-size: 14px;
  color: rgb(91, 56, 14);
  line-height: 20px;
}

.aboutKineImg1{
  width : 23px;
  height: 26px;
}

.text2{
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0 0 12px;
  
}

.divHolder{
  margin-top:20px
}